# Watch Me Code 1:  Variables And Types

In [2]:
name = "Tony"
age = 43
wage = 12.50
happy_employee = True

In [3]:
#what is the type of name?
type(name)

str

In [4]:
#what is the type  of age?
type(age)

int

In [5]:
# convert age to float
float(age)

43.0

In [6]:
# convert age to float then ask for type
type(float(age))

float

In [8]:
# from float to int, you lose decimal places
lost_wage = int(wage)
lost_wage

12

In [9]:
# switching types from str to int
name = 99
type(name)

int

In [10]:
# ValueError because you cannot convert "Tony" to float
name = "Tony"
float(name)

ValueError: could not convert string to float: 'Tony'

In [1]:
float("45")

45.0

In [2]:
int("10")/2

5.0

In [3]:
int("Mike") + "f"

ValueError: invalid literal for int() with base 10: 'Mike'